<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ex.html</title>
    <style type="text/css">
        #first{position:relative; width:150px; height:1000px; background:gainsboro;}
        .menu{position:relative; width:150px;height:50px; margin: 0 auto;}
    </style>
</head>
<body>
   
    <div id="first">
       
        <div class="menu"><img src="images/naverMovie/btn1.png" width="150px">
        </div>
        <div class="menu"><img src="images/naverMovie/btn2.png" width="150px">
        </div>
        <div class="menu"><img src="images/naverMovie/btn3.png"width="150px">
        </div>
        <div class="menu"><img src="images/naverMovie/btn4.png" width="150px">
        </div>
        <div class="menu"><img src="images/naverMovie/btn5.png"width="150px">
        </div>
        <div class="menu"><img src="images/naverMovie/btn6.png"width="150px">
        </div>
    </div>
</body>
</html>