<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Layout08.html</title>
    <!--<style type="text/css"></style> -->
    <link rel="stylesheet" type="text/css" href="css/naverJoin.css"/>
    
</head>

<body>
        <div id="naver">
            <img src="images/naver_logo.png" width="250px;">
        </div>

        <div class="input_label">아이디</div>
                <div class="input_text">
                <input type="text" size="33"/>@naver.com </div>
                
    

            <div class="input_label">비밀번호</div>
                <div class="input_text">
                <input type="password" size="40%;"/> <img src="images/key_new.png"></div>
               
            </div>

            <div class="input_label">비밀번호 재확인</div>
                <div class="input_text">
                <input type="password" size="40%;"/> <img src="images/key2.png"></div>
               

            <div class="input_label">이름</div>
            <div class="input_text">
                <input type="text" size="40%;"/></div>

            <div class="input_label">생년월일</div>
            <div class="ymd">
                <div class="ymd1"><input type="text" placeholder="년(4자)"size="11"></div> 
                <div class="ymd1"> 
                    <select name="minth" style="width: 130px;">
                    <option value="">월</option>
                    <option value="1">1월</option> <option value="2">2월</option>
                    <option value="3">3월</option> <option value="4">4월</option>
                    <option value="5">5월</option> <option value="6">6월</option>
                    <option value="7">7월</option> <option value="8">8월</option>
                    <option value="9">9월</option> <option value="10">10월</option>
                    <option value="11">11월</option> <option value="12">12월</option>
                    </select></div> 
                <div class="ymd1"><input type="text" placeholder="일"size="11"/> </div> 
              
            </div>
        

            <div class="input_label">성별</div>
            <div class="input_text">
                <select name="gender" style="width: 440px">
                <option>성별</option>   <option>남자</option>
                <option>여자</option>   <option>선택 안함</option>
            </select>
            </div>
            
            <div class="input_label">본인확인 이메일</div>
            <div class="input_text">
            <input type="text"placeholder="선택입력" size="43"/> </div>
    
            <div class="input_label">휴대전화</div>
            <div class="input_text">
            <select name="country" style="width:440px">
                <option>대한민국 +82</option>  
                <option>일본 +81</option>
                <option>뉴질랜드 +64</option>
                <option>가나 +233</option>
            </select>
        </div>

        <div class="ymd" style="margin-top:10px">
            <div class="phone1"><input type="text" size="25" placeholder="전화번호 입력" /></div>
            <div class="phone2">인증번호 받기</div>
        </div>

        <div class="input_text" style="margin-top: 10px;">
            <input type="text" class="itt" placeholder="인증번호를 입력하세요" size="43"/>
            </div>
          

            <div class="button">가입하기</div>

         <div class="last_menu">
            <ul>
                <li><a href="http://policy.naver.com/rules/service.html" target ="_blank">
                    이용약관 &nbsp; </li> 
                <li><a href="https://policy.naver.com/policy/privacy.html" target ="_blank">
                    개인정보처리방침 &nbsp;</li> 
                <li><a href="https://policy.naver.com/rules/disclaimer.html" target ="_blank">
                    책임의 한계와 법적고지&nbsp;</li> 
                <li><a href="https://help.naver.com/service/5640/category/bookmark?lang=ko" target ="_blank">회원정보 고객센터&nbsp;</li> 
            </ul>
         </div> 
         <div class="last_menu">
            <img src="images/naver_logo.png"width="50">
            <span style="font-size:75%">Naver Copyright Naver corp. All Rights Reserve.</span>
         </div>
         
</body>
</html>