<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout10.html</title>
    <!--<link rel="stylesheet" type="text/css" href="css/daumNews.css"/>-->
    <link rel="shortcut icon" href="//i1.daumcdn.net/img-media/2010ci/Daum_favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/daumNews.css"/>
    
</head>
<body>
    
    <div id="First">
        <div id="box1">
        <div id="List" text-align="center">
            <ul>
                <li><img src="images/daumlogo.png" height="50px"/></li>
                <li>연예</li>
                <li>뉴스</li>
                <li>스포츠</li>
                <li>영화</li>
                <li>자동차</li>
            </ul>    
    </div>
        <div id="login">
            <img src="images/log.png" height="30px"/>
            <img src="images/all.png" height="30px"/>
        </div>
       </div> 
    </div>
        
    <div id="Second">
        <div id="box2">
            <div id="List2">
            <ul>
                <li>홈</li>
                <li>랭킹</li>
                <li>뉴스</li>
                <li>TV</li>
                <li>포토</li>
                <li>투표</li>
            </ul>   
         </div>
       
        <div id="login2">TV브랜드관</div>
        </div>
    </div>

    <div id="Third">
        <div id="box3">
            <div id="button1"></div>

            <div id="newsbox">

                <div class="news">
                    <div class="img"><img src="images/n1.png"height="160px"></div>
                    <div class="text">탁재훈, 12월17일 개최'SBS연예대상'MC 낙점</div>
                </div>
                <div class="news">
                    <div class="img"><img src="images/n2.png"height="160px"></div>
                    <div class="text">탁재훈, 12월17일 개최'SBS연예대상'MC 낙점</div>
                </div>
                <div class="news">
                    <div class="img"><img src="images/n3.png"height="160px"></div>
                    <div class="text">탁재훈, 12월17일 개최'SBS연예대상'MC 낙점</div>
                </div>
                <div class="news">
                    <div class="img"><img src="images/n4.png"height="160px"></div>
                    <div class="text">탁재훈, 12월17일 개최'SBS연예대상'MC 낙점</div>
                </div>
                <div class="news">
                    <div class="img"><img src="images/n5.png"height="160px"></div>
                    <div class="text">탁재훈, 12월17일 개최'SBS연예대상'MC 낙점</div>
                </div>
                <div class="news">
                    <div class="img"><img src="images/n6.png"height="160px"></div>
                    <div class="text">탁재훈, 12월17일 개최'SBS연예대상'MC 낙점</div>
                </div>
                <div class="news">
                    <div class="img"><img src="images/n7.png"height="160px"></div>
                    <div class="text">탁재훈, 12월17일 개최'SBS연예대상'MC 낙점</div>
                </div>
                <div class="news">
                    <div class="img"><img src="images/n8.png"height="160px"></div>
                <div class="text">탁재훈, 12월17일 개최'SBS연예대상'MC 낙점</div>
                </div>
            </div>

            <div id="button2"></div>
        </div>
    </div>


</body>
</html>