<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout09</title>
    <link rel="stylesheet" type="text/css" href="css/naverMovie.css"/>
    
    
</head>
<body>
    
    <div id="left_Menu">
        <div class="menu">
            <div id="sub">
            <img src="images/naverMovie/logo_ci.png"  style="margin:10px 0px;" >
            <img src="images/naverMovie/logo_svc.png"  style="margin-bottom:10px"></div>
        </div>
        <div class="menu"><img src="images/naverMovie/btn1.png" width="155px"></div>
        <div class="menu"><img src="images/naverMovie/btn2.png"width="155px"></div>
        <div class="menu"><img src="images/naverMovie/btn3.png"width="155px"></div>
        <div class="menu"><img src="images/naverMovie/btn4.png"width="155px"></div>
        <div class="menu"><img src="images/naverMovie/btn5.png"width="155px"></div>
        <div class="menu"><img src="images/naverMovie/btn6.png"width="155px"></div>
        <div class="menu"><img src="images/naverMovie/indi.png"width="155px"></div>
    </div>

     <div id="right_Menu">
        <div class="List" text-align="center">
            <ul>
                <li>예매순 </li>
                <li>박스오피스 </li>
                <li>현재상영작 </li>
                <li>개봉예정작 </li>
                <li>평점순 </li>
                <li>다운로드순</li>
            </ul>
        </div>
    
        <div class="movie_list">
            <div class="movie"><img src="images/naverMovie/01.png"width="125px" /> </div>
            <div class="movie"><img src="images/naverMovie/02.png"width="125px" /> </div>
            <div class="movie"><img src="images/naverMovie/03.png"width="125px"height="180px"/> </div>
            <div class="movie"><img src="images/naverMovie/04.png"width="125px" /> </div>
            <div class="movie"><img src="images/naverMovie/05.png"width="125px" /> </div>
            <div class="movie"><img src="images/naverMovie/06.png"width="125px" /> </div>
            <div class="movie"><img src="images/naverMovie/07.png"width="125px" /> </div>
            <div class="movie"><img src="images/naverMovie/08.png"width="125px"height="180px"/> </div>
            <div class="movie"><img src="images/naverMovie/09.png"width="125px" /> </div>
            <div class="movie"><img src="images/naverMovie/10.png"width="125px" /> </div>
        </div>    

    </div> 
</body>
</html>